/* General styles for all menus */
.cbp-spmenu {
	background: #000;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #fff;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #000;
    text-decoration: none;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.6em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	color: #84A2A7;
}

.cbp-spmenu a:active {
	text-decoration-color: #84A2A7;
	color: #000;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 400px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
    margin-top: 20px;
	border-bottom: 1px solid #000;
	padding: 2em;
    text-align: center;
    text-decoration: none;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -400px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 400px;
}

.cbp-spmenu-push-toleft {
	left: -400px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

}