@import url('http://fonts.googleapis.com/css?family=Open+Sans');

*, *:after, *:before {
    margin: 0;
    padding: 0;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

p {
    color: #84A2A7;
}

.main > section {
    position: relative;
}

.main > section button {
	border: none;
    background: none;
	width: 50px;
	margin: 20px;
    position: absolute;
}

.flex-img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.about {
    background-color: #000;
    text-align: center;
    padding: 2rem 2%;
}

figure {
    position: relative;
}

figcaption {
    text-align: center;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0,255,255,.3);
    padding: 25% 0;
}
