@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body, html { font-size: 100%; 	padding: 0; margin: 0;}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.main > section {
	max-width: 90px;
	width: 90%;
}

.main > section button {
	border: none;
    background: none;
	width: 50px;
	margin: 20px;
    float: left;
    position: absolute;
}