/* -------------------------- */
/* Grid */
/* -------------------------- */


.grid {
	list-style: none;
	margin-top: 50.3rem;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	z-index: 0;
}

.grid li::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(71,63,59,0.6);
	pointer-events: none;
	-webkit-transition: background 0.5s;
	transition: background 0.5s;

}

.grid li:hover::after{
	background: rgba(71,63,59,0);
}

.grid li {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}

.grid li h2 {
	font-weight: 700;
	padding-bottom: 0.4em;
	margin-top: 10em;
	color: #fff;
	line-height: 1;
	font-size: 1em;
	position: absolute;
	bottom: 0;
	z-index: 100;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.grid li:hover h2 {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.grid li:first-child {
	top: 0;
	left: 0;
	height: 60%;
	width: 50%;
	background-image: url(../images/thumbs/1.jpg);
}

.grid li:nth-child(2) {
	top: 60%;
	left: 0;
	height: 50%;
	width: 50%;
	background-image: url(../images/thumbs/2.jpg);
}

.grid li:nth-child(3) {
	top: 50%;
	left: 50%;
	height: 50%;
	width: 25%;
	background-image: url(../images/thumbs/5.jpg);
}

.grid li:nth-child(4) {
	top: 0;
	left: 50%;
	height: 50%;
	width: 50%;
	background-image: url(../images/thumbs/4.jpg);
}

.grid li:nth-child(5) {
	top: 100%;
	left: 25%;
	height: 50%;
	width: 50%;
	background-image: url(../images/thumbs/8.jpg);
}


.grid li:nth-child(6) {
	top: 100%;
	left: 0;
	height: 50%;
	width: 25%;
	background-image: url(../images/thumbs/6.jpg);
}

.grid li:nth-child(7) {
	top: 50%;
	left: 75%;
	height: 100%;
	width: 25%;
	background-image: url(../images/thumbs/6.jpg);
}

@media screen and (max-width: 1414px) {
    .grid {
        list-style: none;
        margin-top: 45rem;
    }
}

@media screen and (max-width: 1200px) {
    .grid {
        list-style: none;
        margin-top: 43rem;
    }
}

@media screen and (max-width: 1050px) {
    .grid {
        list-style: none;
        margin-top: 40rem;
    }
       .grid li:first-child {
        top: 0;
        left: 0;
        height: 50%;
        width: 50%;
        background-image: url(../images/thumbs/1.jpg);
    }

    .grid li:nth-child(2) {
        top: 50%;
        left: 0;
        height: 50%;
        width: 50%;
        background-image: url(../images/thumbs/2.jpg);
    }

    .grid li:nth-child(3) {
        top: 50%;
        left: 50%;
        height: 50%;
        width: 50%;
        background-image: url(../images/thumbs/5.jpg);
    }

    .grid li:nth-child(4) {
        top: 0;
        left: 50%;
        height: 50%;
        width: 50%;
        background-image: url(../images/thumbs/4.jpg);
    }

    .grid li:nth-child(5) {
        top: 150%;
        left: 0;
        height: 50%;
        width: 50%;
        background-image: url(../images/thumbs/8.jpg);
    }


    .grid li:nth-child(6) {
        top: 100%;
        left: 0;
        height: 50%;
        width: 50%;
        background-image: url(../images/thumbs/6.jpg);
    }

    .grid li:nth-child(7) {
        top: 100%;
        left: 50%;
        height: 100%;
        width: 50%;
        background-image: url(../images/thumbs/6.jpg);
    }
}

@media screen and (max-width: 1000px) {
    .grid {
        list-style: none;
        margin-top: 39rem;
    }
    
}

@media screen and (max-width: 780px) {
    .grid {
        list-style: none;
        margin-top: 38rem;
    }
    
    .grid li:first-child {
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background-image: url(../images/thumbs/1.jpg);
    }

    .grid li:nth-child(2) {
        top: 100%;
        left: 0;
        height: 50%;
        width: 100%;
        background-image: url(../images/thumbs/2.jpg);
    }

    .grid li:nth-child(3) {
        top: 150%;
        left: 0;
        height: 50%;
        width: 100%;
        background-image: url(../images/thumbs/5.jpg);
    }

    .grid li:nth-child(4) {
        top: 50%;
        left: 0;
        height: 50%;
        width: 100%;
        background-image: url(../images/thumbs/4.jpg);
    }

    .grid li:nth-child(5) {
        top: 300%;
        left: 0;
        height: 50%;
        width: 100%;
        background-image: url(../images/thumbs/8.jpg);
    }


    .grid li:nth-child(6) {
        top: 250%;
        left: 0;
        height: 50%;
        width: 100%;
        background-image: url(../images/thumbs/6.jpg);
    }

    .grid li:nth-child(7) {
        top: 200%;
        left: 0;
        height: 50%;
        width: 100%;
        background-image: url(../images/thumbs/6.jpg);
    }
}