img {
	display: block;
	margin: 0 auto;
}

section {
	
}

.main-image {
    width: 20%; 
}

.header-image-section {
    background: transparent url("../images/bg-image.jpg") no-repeat center top;
    background-size: cover;
    width: 100%;
    padding: 16.4rem 0;
}

