.main-image {
    display: block;
    width: 20%; 
    margin: 0 auto;
}

.header-image-section {
    background: transparent url("../images/bg-image.jpg") no-repeat center top;
    background-size: cover;
    width: 100%;
    padding: 16.4rem 0;
}

